.main-navigation-list__anchor:before {
  border-radius: 1.5rem;
  content: '';
  color: #222222;
  position: absolute;
  z-index: 0;
  bottom: 0;
  top: 0;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  left: -0.1875rem;
  right: -0.1875rem;
}

.main-navigation-list__anchor:hover {
  &:before {
    --bg-opacity: 1;
    background-color: #f7f7f7;
    background-color: rgba(247, 247, 247, var(--bg-opacity));
  }
}
