.title--gradient {
  background-image: linear-gradient(
    to right,
    theme('colors.brand-secondary-dark') 9.38%,
    theme('colors.brand-primary') 88.54%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: text;
  background-color: initial;
  line-height: 110%;
}

.title--lined {
  // display: flex;
  // align-items: center;
  // position: relative;

  &:before,
  &:after {
    @apply bg-gray-light;
    @apply block;
    @apply flex-auto;
    @apply h-1;
    content: '';
  }

  span {
    // background-color: $color-white;
    // color: $color-gray-medium;
    // display: inline-block;
    // flex: 0 1 auto;
    // font-size: 0.9rem;
    // font-weight: normal;
    // padding: 0 1.5rem;
  }
}

.title-group {
  &__title {
    white-space: pre-line;
    display: -webkit-box;
  }
  &__subtitle {
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
